.App {

}
h2{
  font-size: 20px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.header-link{
  padding:3px;
}
.links-wrapper{
  right:0;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin:20px;
}
.main-logo{
  width: 80px;
  position: absolute;
  left: 0;
}
.intro-span{
  color: #427AA1;
}
.main-intro{
  font-size:22px;
}
.App-header {
  height: 85px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
