@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Libre+Franklin|Open+Sans+Condensed:300&display=swap");
:root {
  --mainColor: #7f8688;
  --heroOverlay: #929d9e;
  --accentColor:  #175096;
  --heroText: white;
  --unavailable: #E63C30;
}
* {
  font-family: "Libre Franklin", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#root{
  display: flex;
  justify-content: center;
  background:#424854;
}
.App{
  max-width: 2000px;
  background: white;
}

h2 {
  font-size: 25px;
  text-align: center;
  padding-top: 21px;
  margin-top: 0;
}
h3 {
  text-align: start;
  padding-top: 0;
  margin-top: 5px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px 0;
}
.project-details {
  width: 83%;
}
.contact-container {
  height: 100vh;
  background: url(/images/hero1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(3, 15, 29, 0.83);
  text-align: center;
  position: relative;
  color:white;
}
.contact-buttons-container {
  margin-top: 9vh;
}
.contact-btn {
  display: inline-block;
  padding: 12px;
  width: 85%;
  color: black;
  font-size: 14px;
  margin: 5px;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  transition: all 0.3s ease-out;
}

.contact-icons {
  height: 20px;
  width: 20px;
  transition: all 0.3s ease-out;
}
.contact-text {
  font-size: 20px;
  margin: 36px 20px 0 20px;
}
.facebook {
  background: #4267b2;
}
.linkedin {
  background: #096ea3;
}
.email {
  background: #f1493c;
}
.facebook:hover {
  color: black;
  background: #5f94ff;
}
.linkedin:hover {
  color: black;
  background: #109fea;;
}
.email:hover {
  color: black;
  background: #ea6e64;;
}
.icon {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}
.icon:hover {
  color: var(--accentColor);
}
.hamburger {
  color: white;
  height: 25px;
  width: 25px;
  right: 0;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}
.mobile-menu {
  background: #111111e6;
  color: white;
  position: fixed;
  padding: 140px 70px 0 30px;
  right: -200px;
  margin: 0;
  top: -55px;
  height: 100vh;
  z-index: 90;
  transition: all 0.3s ease-out;
  list-style-type: none;
  cursor: pointer;
  display: block;
}
.mobile-menu.open {
  right: -40px;
}
.header-link {
  display: none;
  padding: 3px;
  color: var(--accentColor);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  margin: 0 9px;
  font-size: 18px;
  font-weight: 800;
}
.header-link:hover {
  color: white;
}

.header-link:hover:after {
  color: white;
}
.links-wrapper {
  right: 0;
  display: flex;
  margin: 40px;
  position: absolute;
}
.main-logo {
  width: 80px;
  position: absolute;
  left: 0;
}
.intro-span {
  color: var(--accentColor);
}
.main-intro {
  color: white;
  margin: 42px 40px;
  font-size: 25px;
  z-index: 10;
}
.hireme-wrapper {
  font-family: "Archivo Black", sans-serif;
}
.App-header {
  height: 85px;
  display: flex;
  justify-content: space-between;
}
.hero-icons {
  display: flex;
  position: absolute;
  bottom: 40px;
  margin-left: 20px;

}
.hero-btn {
  color: white;
  font-size: 20px;
  z-index: 1;
  position: relative;
  background: none;
  display: inline-block;
  border: 3px solid white;
  margin: 20px 30px;
  cursor: pointer;
  padding: 10px 0px;
  transition: all 0.3s;
  width: 200px;
  text-align: center;


}
.hero-btn:hover {
  border-color:var(--accentColor);
  background: var(--accentColor);
  color: white;
}
.burger-menu {
  height: 100%;
  background: black;
}
.project-image {
  width: 85%;
  margin-bottom: 15px;
}
.see-more-wrapper {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 10px;
}
.reference-btns-container {
  display: block;
}
.reference-btn {
  color: black;
  display: inline-block;
  border: 3px solid #000;
  margin: 10px;
  cursor: pointer;
  padding: 15px 0;
  transition: all 0.3s;
  text-decoration: none;
  width: 250px;
  text-align: center;
}
.reference-btn:hover {
  color: white;
  background: black;
}
.reference-btn-not-available {
  color: var(--unavailable);
  border-color: var(--unavailable);
  text-decoration: line-through;
  cursor: no-drop;
}
.reference-btn-not-available:hover {
  color: var(--unavailable);
  background: none;
}
.see-more {
  height: 25px;
  width: 25px;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
}

.main-name {
  margin: 40px;
  font-size: 20px;
  z-index: 10;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
}
.hero {
  height: 100vh;
  background: url(/images/hero2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(33, 33, 33, 0.41);
}

.App-link {
  color: #61dafb;
}
.mobile-menu > li {
  font-size: 20px;
  padding: 10px;
}
.features-ul {
  padding-left: 20px;
}
.footer {
  position: absolute;
  bottom: 10px;

  width: 100%;
  font-size: 12px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 500px) {
  .header-link {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .contact-btn {
    width: 440px;
  }
  .contact-subtitle {
    padding-top: 105px;
  }
  .links-wrapper{
    position: static;
  }
}
@media (min-width: 768px) {
  .main-intro {
    font-size: 35px;
  }
  .main-name {
    font-size: 25px;
  }
  .project-image {
    width: 70%;
  }
  .project-details {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .main-intro {
    font-size: 50px;
    margin: 85px 40px;
  }
  .hero-btn {
    padding: 10px 130px;
    font-size: 25px;
  }
  .project-container {
    flex-direction: row;
    margin: 125px 20px;
  }
  .project-container-reversed {
    flex-direction: row-reverse;
  }
  .project-details {
    margin: 0 15px;
    width: 100%;
  }
  .reference-btn {
    padding: 13px 0;
    width: 200px;
    font-size: 14px;

  }
  h2{
    font-size: 32px;
    text-align: center;
    padding-top: 7%;
    margin-top: 0;
  }
  /* .contact-buttons-container {
    margin-top: 100px;
  } */
  .contact-btn {
    padding: 20px;
    margin: 10px;
  }
  .contact-subtitle {
    font-size: 40px;
  }
  .project-image {
    width: 50%;
  }
}
@media (min-width: 1150px) {
  .project-container {
    margin: 125px 70px;
  }
}
@media (min-width: 1440px) {
  .main-intro {
    margin: 85px 430px 85px 30px;
  }
}

@media (min-height: 700px) {
  .main-intro {
    font-size: 32px;
  }
}
